:root {
    --main-color: #1A1A1A;
  }
  

.homepage_body{
    padding-top: 70px;
}

.homepage_body header{
    padding-top: 70px;
    background:url("../logo/homepage_background5.jpg");
    width: 100%;
    height: 100%; 
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 2;
    font-size: 1.5em;
    text-align: center;
}

.homepage_body h2{
    text-align: center;
    color: black; 
    position: relative; 
    margin: auto;
    z-index: 998;
    font-size: 2em;
}

hr {
    border-top: solid; 
    width: 60%; 
    margin: auto; 
    margin-top: 10px; 
    margin-bottom: 30px;
}

.textbox_url {
    border-radius: 6px;
    height: 50px;
    width: 100%;
    vertical-align: middle; 
    font-family: Nunito;
    text-align: center;
}

.textbox_custom {
    border-radius: 6px;
    height: 50px;
    width: 50%;
    vertical-align: middle; 
    font-family: Nunito;
    text-align: center;
}

.button {
    border-radius: 6px;
    height: 50px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: Nunito;
    font-size: 0.7em;
    font-weight: bold;
}

.button:hover {
    background-color: var(--main-color);
    color: white;
}

.shorten_link_text{
    font-family: Nunito; 
    color: white; 
    font-size: 2em; 
}





body {
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: black;
}




.hover_effect {
    z-index: 1;   
}

.hover_effect ul {
    list-style-type: none;
    padding: 0;

}

.hover_effect ul li {
    --c: white;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    margin-left: 37%;
}

.hover_effect ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.hover_effect ul li:hover {
    color: black;
}

.hover_effect ul li:hover span {
    transform: translateY(0) scale(2);
}

.hover_effect ul li span:nth-child(1) {
    --n: 1;
}

.hover_effect ul li span:nth-child(2) {
    --n: 2;
}

.hover_effect ul li span:nth-child(3) {
    --n: 3;
}

.hover_effect ul li span:nth-child(4) {
    --n: 4;
}
