{% extends 'base.html' %}
{% load static %}

{% block title%}
About us
{% endblock title%}

{% block body %}

<section class="section">
    <div class="conatainer">
        <div class="columns is-centered">
            <div class="column is-half ">
                <div class="card" style="box-shadow: none;">
                    <div class="card-content">
                        <p class="is-size-2 mt-4 " style="font-weight: 500;" >Who Are We?</p>
                        <p class="subtitle is-size-6 mt-5" style="line-height: 1.4;letter-spacing: .6px;font-weight: 300;">We are a small bunch of enthusiastic students (or so called developers :D) who love to code, work on innovative projects and showcase our skills. We usually work for clients, we sometimes do work on our private products, but this was our first self-initiated open source project.</p>
                        
                        <p class="is-size-2 mt-4 " style="font-weight: 500;" >Want To Contribute?</p>
                        <p class="subtitle is-size-6 mt-5" style="line-height: 1.4;letter-spacing: .6px;font-weight: 300;">The website is fully open-source built with Python (Django Framework) and deployed on Heroku Servers (Dyno). Feel free to open up any new issue/pull request <a href="https://github.com/anonymous-sidhax/Django-URL-Shortner">here</a> </p>

                        <p class="is-size-2 mt-4 " style="font-weight: 500;" >Contact Us</p>
                        <p class="subtitle is-size-6 mt-5" style="line-height: 1.4;letter-spacing: .6px;font-weight: 300;">We are very friendly and always open to discussing new projects, interesting ideas, student work or opportunities to be part of an event. Feel free to reach out to us with any questions by sending us a mail on <i><u>dus.2020.py@gmail.com</u></i> or filling out the <a href="{% url 'contactus' %}">Contact Us Form</a></p>
                        
                    </div>
                </div>
            </div>
            <div class="column is-half has-text-centered">
                <div class="card" style="box-shadow: none;">
                    <div class="card-image"><img src="{% static 'assets/img/team.svg' %}" alt="" width="349.2"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body%}