<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> DUS - {% block title %} {% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'assets/css/jstools/homepage-output.css' %}">
</head>
<body>
   
  {% if messages %}
  {% for message in messages %}
  {% if  message.tags == 'success' %}
  <article class="message is-success">
    <div class="message-header">
      <p>{{ message }}</p>
      
      <button class="delete" aria-label="delete"></button>
    </div>
  </article>
  {% elif message.tags == 'error' %}
  <article class="message is-danger">
    <div class="message-header">
      <p>{{ message }}</p>
      
      <button class="delete" aria-label="delete"></button>
    </div>
  </article>
  {% elif message.tags == 'info' %}
  <article class="message is-info">
    <div class="message-header">
      <p>{{ message }}</p>
      
      <button class="delete" aria-label="delete"></button>
    </div>
  </article>
  {% elif message.tags == 'warning' %}
  <article class="message is-warning">
    <div class="message-header">
      <p>{{ message }}</p>
      <button class="delete" aria-label="delete"></button>
    </div>
  </article>
  {% endif %}
  {% endfor %}
  {% endif %}

  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-center sm:justify-between h-14">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Heroicon name: outline/menu
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!--
              Icon when menu is open.
  
              Heroicon name: outline/x
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex-shrink-0 flex items-center">
          <h1 class="hidden sm:block lg:block text-3xl text-white">Shortner</h1>
        </div>
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-end">
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <a href="{% url 'accounts:login' %}" class="hover:bg-gray-700 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Login</a>
              <a href="{% url 'accounts:signup' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Signup</a>
            </div>
          </div>
        </div>
        <div class="sm:hidden absolute" id="mobile-logo">
              <h1 class="text-3xl text-white">Shortner</h1>
        </div>
      </div>
    </div>
    <div class="sm:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="{% url 'accounts:login' %}" class="text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Login</a>  
        <a href="{% url 'accounts:signup' %}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Signup</a>
      </div>
  </nav>

{% block body %}



{% endblock body %}



<footer class="absolute bottom-0 py-2 text-white bg-gray-700 w-full text-center">
  <p>Copyright &copy;<strong> DUS</strong></p>
</footer>

</body>
</html>