{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
{% load static %}

<style>
    *{
        scroll-behavior: smooth;
    }
    .is-red{
        background-color: #ff3b3b;
        opacity: 0.9;
        color: #f4f4f4;
    }
    .is-red:hover{
        background-color: #ff3b3b;
        opacity: 1;
        color: #f4f4f4;
    }
    .is-red-{
        background-color: #ff3b3b;
        opacity: 0.9;
        color: #f4f4f4;
    }
    .is-red-:hover{
        background-color: #ff3b3b;
        opacity: 1;
        color: #f4f4f4;
    }
    @media screen and (max-width: 768px){
        div.columns.is-variable.is-centered#container-{
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column-reverse;
            }

        .button.is-red{
            font-size: 1rem;
        }
    }
    #menu{
        transform: translateX(100%);
    }
    #menu.active{
        transition: translateX(0%);
    }

</style>


<section class="section" id="short_section" style="background-color: #f4f4f4;">
    <form action="shorten" method="POST" id="form">
        {% csrf_token  %}
        <div class="conatiner">
            <div class="columns is-variable is-centered">
                <div class="column is-one-thirds">
                    <div class="fields">
                        <input class="input is-medium" type="text" placeholder="Enter Your URL here" name="original_url" required>
                    </div>
                    <div class="fields">
                        <input class="input is-medium mt-2" type="text" placeholder="Custom URL (If any)" name="custom_url">
                    </div>
                    <div class="fields">
                        <input class="input is-medium mt-2" type="text" placeholder="Expiry Days (Default will be 7)" name="expire_days">
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="buttons" style="justify-content: center;"><button type="submit" class="button is-medium input is-red-" >Shorten</button></div>
            </div>
        </div>
    </form>
</section>




{% if short_url %}
<div class="container mt-4">
  <div class="notification is-primary">
    Your Short Url : <input type="text" class="input is-small" style="width: 50%; background: transparent; color: white; border: none;" value="{{ short_url }}" id="shorted_url"> 
    <div class="is-pulled-right">
        <button class="button is-small is-outlined is-rounded" onclick="copyUrl()">Copy</button>
    </div>
  </div>
</div>
<script>
    function copyUrl(){
        holdText = document.getElementById("shorted_url");
        textToCopy = holdText.value;
        navigator.clipboard.writeText(textToCopy);
        alert("Copied Url : " + textToCopy);
    }
    var custom_link = document.querySelector('.custom-link');
    let menu_ = document.querySelector('#menu');
    custom_link.addEventListener('click', function(){
        console.log('clicked');
    })

</script>
{% endif %}

{% endblock body %}