[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.10"
django = "*"
django-widget-tweaks = "*"
gunicorn = "==20.0.4"
pytz = "==2020.1"
sqlparse = "==0.4.1"
whitenoise = "==5.2.0"
geoip2 = "==0.1.0"
django-heroku = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
