[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
whitenoise = "*"
geoip2 = "*"
django-heroku = "*"
django = "*"
psycopg2 = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.10"