{% extends 'base.html' %}
{% load static %}

{% block title%}
About us
{% endblock title%}

{% block body %}

<section class="section">
    <div class="conatainer">
        <div class="columns is-centered">
            <div class="column is-half ">
                <div class="card" style="box-shadow: none;">
                    <div class="card-content">
                        <h2 class="help is-size-5">Our Mission</h2>
                        <p class="is-size-2 mt-4 " style="font-weight: 500;" >Lorem, ipsum dolor.</p>
                        <p class="subtitle is-size-6 mt-5" style="line-height: 1.4;letter-spacing: .6px;font-weight: 300;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, error quos deleniti distinctio quisquam odio temporibus, earum illo nisi iste minima molestiae accusamus, alias quibusdam!</p>
                    </div>
                </div>
            </div>
            <div class="column is-half has-text-centered">
                <div class="card" style="box-shadow: none;">
                    <div class="card-image"><img src="{% static 'assets/img/team.svg' %}" alt="" width="349.2"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="conatiner">
        <div class="columns is-cenetred">
            <div class="column">
                <div class="card" style="box-shadow: none;">
                    <div class="card-content has-text-centered">
                        h3.is-size-3{}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body%}