{% extends 'base.html' %} 
{% block title %} Django-URL-Shortner {% endblock title %}
{% load static %} 
{% block body %}

<style>
  .btn-grad {
    background-image: linear-gradient(
      to right,
      #22f8ff 0%,
      #fff130 51%,
      #faef54 100%
    );
  }
  .btn-grad {
    margin-top: 50px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 2px -1px rgba(55,154,171,1);
    -moz-box-shadow: 3px 3px 2px -1px rgba(55,154,171,1);
    box-shadow: 3px 3px 2px -1px rgba(55,154,171,1);
  }

  .btn-grad:hover {
    background-position: right center;
    color: white;
    text-decoration: none;
  }
</style>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <strong style="font-size: 5rem; color: rgba(0, 183, 255, 0.685); text-shadow: 2px 0px rgba(255, 255, 0, 0.897);">Welcome</strong>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, tenetur
        voluptatem nobis ratione facere architecto debitis nemo optio excepturi
        aut suscipit nihil voluptates repellendus, quos obcaecati aspernatur
        voluptas ducimus quasi!
      </p>
      <div class="button mt-5">
        <a class="btn-grad">Create Short Links &rarr;</a>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="{% static 'assets/img/bg.jpg' %}"
        class="img-fluid rounded-circle"
        alt=""
      />
    </div>
  </div>
</div>

{% endblock body %}
