{% extends 'base.html' %}
{% block body %}



    <!-- Header Start -->
    <header>
        <div style="text-align: center; padding-left: 200px; padding-right: 200px; position: relative;">
        <h2 >DUS is a shortening and link management platform to brand, track and share short URLs using a custom path.</figcaption>
        </h2>
    </div>
    </header>
    <!-- Header End -->

    <div style="align-items: center; text-align: center; height: 60%; background-color:1A1A1A;">
        <div style="top: 30px; position: relative; text-align: center; width: 60%; display: inline-table">
            <div class="shorten_link_text">
                <b>Shorten your links with just a single mouse click !</b>
                <hr></hr>
                <form action="short" method="POST" id="form">
                    {% csrf_token  %}
                    <input class="textbox_url" type="text" class="form-control" name="original_url" value="" placeholder="  Paste your lengthy url to shorten it" required="">
                    <input class="textbox_custom" type="text" class="form-control" name="custom_url" value="" placeholder="  Custom URL">
                    <div id="clickDiv" class="hover_effect">
                        <ul>
                          <li>
                            SHORTEN
                            <span></span><span></span><span></span><span></span>
                          </li>
                        </ul>
                    </div>
                    <script>
                    document.getElementById("clickDiv").onclick = function() {
                        document.getElementById("form").submit();
                      };
                    </script>
                </form>
            </div>
        </div>

    </div>


    
{% endblock body %}
