{% extends 'base.html' %}
{% block title %} Django-URL-Shortner {% endblock title %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/mainStyles.css' %}" media="screen">

<!-- Navigation Bar Start-->
<nav class="navbar">
    <img src="https://svgshare.com/i/Q22.svg" class="navbar_logo"/>
    <ul class="navbar_links">
      <a href="#"><li><b>Why DUS?</b></li></a>
      <a href="#"><li>Features</li></a>
      <a href="#"><li>About</li></a>
      <a href="#"><li>Login</li></a>
      <a href="#"><li>Signup</li></a>
    </ul>
</nav>
<!-- Navigation Bar End -->

<div style="margin-top: 20%">
    <form action="short" method="get">
        <input type="text" name="org_url" placeholder="Enter url here">
        <button type="submit">Shorten</button>
    </form>
</div>


<!-- Footer Start-->
<footer class="footer">
    <a target="_blank" >
        <img class="logo"
             src="https://svgshare.com/i/Q22.svg" class="navbar_logo"/>
    </a>
</footer>
<!-- Footer End-->
{% endblock body %}
