{% extends 'base.html' %}
{% block title %} Django-URL-Shortner {% endblock title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/mainStyles.css' %}" media="screen"/>   
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/homePage.css' %}" media="screen"/>   

{% block body %}



<body class="homepage_body" >
        
    <!-- Navigation Bar Start-->
    <nav class="navbar">
        <img src="https://svgshare.com/i/Q22.svg" class="navbar_logo"/>
        <ul class="navbar_links">
        <a href="#"><li><b>Why DUS?</b></li></a>
        <a href="#"><li>Features</li></a>
        <a href="#"><li>About</li></a>
        <a href="#"><li>Login</li></a>
        <a href="#"><li>Signup</li></a>
        </ul>
    </nav>
    <!-- Navigation Bar End  -->

    <!-- Header Start -->
    <header>
        <h2>DUS is a shortening and link management platform to brand, track and share short URLs using a custom path.</figcaption>
        </h1>
    </header>
    <!-- Header End -->

    <div style="text-align: center; height: 250px; background-color:#1A1A1A;">
        <div style="top: 70px; position: relative; text-align: center; width: 60%; display: inline-table">
            <div style="display: table-cell; border-bottom: 10px;">
                <input class="textbox" type="text" class="form-control" name="url" value="" placeholder="Paste your lengthy url to shorten it" required="">
                <button class="button">Shorten</button>
            </div>
        </div>

    </div>

    <div style="height: 400px; background-color: white;">
    </div>

  

    <!-- Footer Start-->
    <footer class="footer">
        <a target="_blank" >
            <img class="logo"
                src="https://svgshare.com/i/Q22.svg" class="navbar_logo"/>
        </a>
        <div class="footer_rights">
            <b>DUS 2020 &copy; </b>
            &nbsp🔥
        </div>
    </footer>
    <!-- Footer End-->

</body>
{% endblock body %}
